@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kitap Adı</th>
            <th scope="col">Kitap Türü</th>
            <th scope="col">Yazar Adı</th>
            <th scope="col">Basım Yılı</th>
            <th scope="col">Basım Evi</th>
            <th scope="col">Sayfa Sayısı</th>
            <th scope="col">Durumu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8">
                <p class="text-muted text-center">Liste Boş</p>
            </td>
        </tr>
    </tbody>
</table>